h2.title {
    display: inline;
}

label.search-title {
    display: inline-block;
    margin: 0 0 0 19rem;
}

label.search-title input {
    text-align: right;
}

div.sections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

br.hidden {
    display: none;
}

@media (max-width: 780px) {
    label.search-title {
        display: block;
        margin: 0 auto;
    }

    div.sections {
        grid-template-columns: repeat(2, 1fr);
    }

    br.hidden {
        display: block;
    }
}