<<<<<<< HEAD
/* html, body {
    background-color: green;
    opacity: 0.85;
} */
=======
html, body {
    background-color: green;
    opacity: 0.85;
}
>>>>>>> 9739a40 (updated CSS styling, and added a green background for the app)
